---
import MainLayout from "../layouts/main.astro";
---

<MainLayout content={{ title: "pipefold.io" }}>
  <div
    class="flex flex-col items-center justify-center min-h-screen gap-8 p-8 select-none"
  >
    <div class="text-center px-28 py-42 space-y-3 relative rounded-full">
      <div class="font-serif text-3xl font-semibold">Pipe Fold Ltd.</div>
      <div class="font-mono text-xl font-thin">work in progress</div>
      <div class="flex gap-6 font-serif text-xl justify-center">
        <a
          href="/portfolio"
          class="py-2 px-4 text-primary underline-offset-4 hover:underline border border-primary-accent"
          >Portfolio</a
        >
        <a
          href="/resume"
          class="py-2 px-4 text-primary underline-offset-4 hover:underline border border-primary-accent"
          >Resume</a
        >
      </div>
      <div
        class="absolute inset-0 -z-10 rounded-full bg-radial from-background to-background/0"
      >
      </div>
    </div>
  </div>
</MainLayout>
