---
import MainLayout from "./main.astro";

const { content } = Astro.props;
---

<MainLayout content={content}>
  <div class="prose font-sans mx-auto">
    <slot />
  </div>
  <div class="fixed inset-0 -z-10 prose-fade"></div>
</MainLayout>
